{% extends 'webapp/layout.html' %}
{% load static %}

{% block body %}
<div class="home">
    <div class="nav">
        <p style="font-weight: bold; font-style: italic; font-size: 24px;">
            mental health matters.
        </p>
        <p>
            <a href="{% url 'stories' %}" id="link">stories.</a><br>
            <a href="{% url 'submit' %}" id="link">share your story.</a><br>
            <a href="#" id="link">resources.</a><br>
            <a href="#" id="link">learn.</a><br>
            <a href="#" id="link">contact.</a><br>
        </p>
    </div>
    <a href="#board"><img id="arrow" src="{% static 'webapp/media/outline_expand_more_white_24dp.png' %}"></a>
</div>
<div class="board" id="board">
    <div class="main">
        {% for submission in submissions %}
        <div class="square" style="background-color: black;" onclick="enlarge('{{ submission.id }}')">
            <div class="quote">
                <p>"{{ submission.message }}"</p>
            </div>
            <span class="ellipsis">...</span>
        </div>
        <div id="{{ submission.id }}" class="modal">
            <div class="modal-content">
                <p>"{{ submission.message }}"</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br>
    <a href="{% url 'stories' %}" style="text-decoration: none; color: black;">See more.</a>
    <img id="arrow" src="{% static 'webapp/media/outline_expand_more_black_24dp.png' %}">
    <div class="sidebar"> 
        <a class="share" href="{% url 'submit' %}">
            <span style="text-decoration:none; font-size:18px; font-family: 'Raleway', sans-serif; width:100%; text-align:center;"> Share my story</span> 
        </a> 
    </div>
</div>
<div class="about">
    <div class="myrow">
        <div class="col-right">
            <div class="vidboard">
                <video id='vid' width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/kathleen.mp4' %}" type="video/mp4">
                </video>
                <img src="{% static 'webapp/media/self-love.png' %}" id="image">
                <video width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/ben.mp4' %}" type="video/mp4">
                </video>
                <img src="{% static 'webapp/media/productive.png' %}" id="image">
                <video width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/awa.mp4' %}" type="video/mp4">
                </video>
                <video width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/sophie.mp4' %}" type="video/mp4">
                </video>
                <video width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/shivam.mp4' %}" type="video/mp4">
                </video>
                <video width="30%" max-height="30%" autoplay muted controls loop>
                    <source src="{% static 'webapp/media/julia.mp4' %}" type="video/mp4">
                </video>
                <img src="{% static 'webapp/media/goal.png' %}" id="image">
            </div>
        </div>
        <div class="col-left">
            <p id="title">
                about the project.
            </p>
            <p id="paragraph">
                The 'Dear Anybody' campaign was created little over a year ago. 
                <br><br>
                The idea came when Patrick and I were sharing about the pressure we face as students. We noticed that while many of our peers has experienced the similar feelings of anxiety, many were hesitant to seek help due to the stigma surrounding mental health and mental illness. 
                <br><br>
                That's when we thought of creating a place where students --people-- could share about their insecurities, mental health, passions, accomplishments, and so much more. The purpose of such platform was to open the door to honest conversations about mental health and to raise awareness about the cause. 
                <br><br>
                And so, camera in hand, we started filming students across campus. As we posted our first video, we were surprised at the number people who related to the story and who were willing to share theirs. I've heard many beautiful, touching and honest things during our filming sessions. I really hope you can find yourself through the posted stories, and that you'll enjoy them as much as I did.
                <br><br>
                Sophie
            </p>
            <video width="15%" height="15%" autoplay muted loop>
                <source src="{% static 'webapp/media/dear.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<!--Share your story section-->
<div class="share-story">
    <div class="share-content">
        <h2><i>Dear Anybody</i> is centered around story-telling.</h2>
        <p>We believe in destigmatizing mental health, one story at the time.</p>
        <a href="{% url 'submit' %}">Share your story today</a>&nbsp;&rarr;
    </div>
</div>

<!--Carousel facts-->
<div class="facts-section">
    <div class="facts-board">
        {% for fact in facts %}
        <div class="fact">
            <div class="fact-img" style="background-image: url('{{ fact.image }}');"></div>
            <div class="fact-content">
                <h5>{{ fact.title }}</h5>
                <p>{{ fact.description }} <i>({{ fact.link }})</i></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="resources">
            <div class="row">
                <div id="first-col" class="col">
                    <h4>helplines (phone & text).</h4>
                    <br>
                    <h5>Kids Help Phone</h5>
                    <p id="contact">Call 1-800-668-6868 (toll-free) or text CONNECT to 686868.</p>
                    <p id="description">Available 24/7 for Canadians from 5 to 29 years old.</p>
                </div>
                <div id="middle-col" class="col">
                    <h4>apps.</h4>
                    <br>
                    <h5>The LifeLine App</h5>
                    <p id="contact">Download the app to access phone, text, chat & email suppport. E-counselling & access to crisis centres in Canada</p>
                    <p id="description">Available for both iOS & Android users.</p>
                </div>
                <div id="last-col" class="col">
                    <h4>mental health organizations.</h4>
                    <br>
                    <h5>Jack.org</h5>
                    <p id="contact">Non-profit empowering young advocates to take action on mental health issues.</p>
                    <p id="description">Participate in conferences, join chapters, give talks.</p>
                    <br>
                    <h5>Togetherall</h5>
                    <p id="contact">An online anonymous peer support community.</p>
                    <p id="description">Talk about your feelings and connect with others.</p>
                </div>
            </div>
        </div>
{% endblock %}