{% extends 'webapp/layout.html' %}
{% load static %}

{% block css %}<link href="{% static 'webapp/share.css' %}" rel="stylesheet">{% endblock %}
{% block body %}
<section id="header">
    <div class="nav-header">
        <p style="font-weight: bold; font-style: italic; font-size: 24px;">
            dear anybody...
        </p>
        <p>
            <a href="#">home.</a>
            <a href="#">stories.</a>
            <a href="#">resources.</a>
            <a href="#">learn.</a>
        </p>
    </a>
    </div>
</section>
{% block section %}
{% endblock %}
{% endblock %}